Data Structures

1. LIST
- elements seperated by comma (,) and enclosed by square brackets [].
- heterogenous (elements can be of any data type(int, float, string)).
- mutable (the value at particular index can be changed).
- hetrogeneous

In [2]:
sample_list=[1,13.6,"hi",12,1]
sample_list

[1, 13.6, 'hi', 12, 1]

In [4]:
sample_list[-2]

12

In [5]:
sample_list[0]=100
print(sample_list)  #MUTABLE

[100, 13.6, 'hi', 12, 1]

2. TUPLE
- elements seperated by comma (,) and enclosed by paranthesis ().
- hetrogeneous
- Immutable
- hetrogeneous

In [6]:
sample_tuple=(1,13.6,"hi,12,1")
sample_tuple

(1, 13.6, 'hi,12,1')

In [7]:
sample_tuple[0]=100
print(sample_tuple) #immutable

# TypeError: 'tuple' object does not support item assignment

TypeError: ignored

3. SET
-  elements seperated by comma (,) and enclosed by curly brackets {}.
- mutable
- does not allow duplicates
- orders according to first place
- elements can NOT be retrieved using index
- hetrogeneous

In [1]:
sample_set={1,13.6,"hi",12,1,127,25,25,"apple","king","ball"}
sample_set    #output: (arranges numerical data first,
# within the numerical data sorting is done by comparing the 1st digit of the number then 2nd digit, and so on.
# also avoids dupliation)

{1, 12, 127, 13.6, 25, 'apple', 'ball', 'hi', 'king'}

In [2]:
sample_set[0]

#o/p 
TypeError: 'set' object is not subscriptable

TypeError: ignored

In [6]:
sample_set[0]="hello"  
#set elements can not be retrieved using index, hence this method can not be used to asssign the value!

TypeError: ignored

In [4]:
sample_set.add(1000)
sample_set  #set is mutable

{1, 1000, 12, 127, 13.6, 25, 'apple', 'ball', 'hi', 'king'}

In [5]:
sample_set.remove("hi")
sample_set

{1, 1000, 12, 127, 13.6, 25, 'apple', 'ball', 'king'}

4. DICTIONARY
- key:value pair data structure
-Mutable
-key will always be unique, if a key is repeated then the latest value assigned to the key will be the output.Thus, avoids repetition of key.
-value can be retrieved using key and value can be repeated
- key can not be retrieved using index

In [8]:
sample_dict={1:"apple", 2: 35.4, 3: "data", 2:"every", 6: "35.4", 7: 35.4}
sample_dict

{1: 'apple', 2: 'every', 3: 'data', 6: '35.4', 7: 35.4}

In [10]:
sample_dict[2] #gives the latest value associated with the repeated key
#but values can be duplicated until and unless keys are unique

'every'

In [11]:
sample_dict["apple"]

#KeyError

KeyError: ignored

In [13]:
sample_dict[7]=100 #mutable
sample_dict

{1: 'apple', 2: 'every', 3: 'data', 6: '35.4', 7: 100}

In [14]:
# HOW TO ADD KEY VALUE PAIR TO A DICTIONARY?

sample_dict[5]="missing this key"
sample_dict

{1: 'apple', 2: 'every', 3: 'data', 6: '35.4', 7: 100, 5: 'missing this key'}